<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trivia Game</title>
  <script src="https://opentdb.com/api.php?amount=1&difficulty=easy&type=multiple"></script>
  <script src="/file.js"></script>
</head>
<body>
  <h1>Trivia Game</h1>
  <a href="/trivia">Start Game</a>
</body>
</html>
