<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Treasuer Hunt</title>
    <style>
       .button-group{
        margin-left: 20%;
        margin-right: 40%;
        margin-bottom: 5%;
        padding-left:25%;
        padding-right:30%;
        padding-bottom: 5%;
        border-radius: 50px;
        background-color:rgba(184, 166, 235, 0.299);
        color: white;
        display: inline-block;
       }
        body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: url("https://getwallpapers.com/wallpaper/full/f/2/d/158274.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            overflow:hidden;
        }
        .cen{
              font-family:"copperplate gothic light";
              padding-top:5%;
              padding-right:2%;
              font-size:60px;
              color:rgba(0, 0, 0, 0.989)
        }
        .btn{
            background-color: rgba(182, 133, 185, 0.877);
            border-radius: 25px;
            border-color: black;
            padding: 10px 20px 20px 20px;
            font-size: 20px;
            color: #2f5ba5;
            margin-left: 5%;
        }
    </style>
    </head>
    <body >
        <div class="main">
            <h1 align="center"class="cen">&nbsp;The Other World</h1>
           <!--- <img src ="" class =" center"height="100px" width="120px" class="center">-->
        </div>
        <br><br>
        <div align="center" class="button-group"><br><br>
            <form method="GET" action="login" data-inline = "true" type="logs">
                <button class="btn" >LOGIN</button>&nbsp;
                <br><br>
            </form>
            <form method="GET" action="signup" data-inline = "true" type ="logs">
                <button class="btn">SIGNUP&nbsp;</button>
            </form>
        </div>   
    </body>
</html>
