<html>
    <head>
        <title>message</title>
        <style>
             body{
                background-color: rgba(177, 209, 213, 0.584);
                margin-top: 20%;
                margin-bottom:40%;
             }
        </style>
    </head>
    <body>
        <center>
            <h2><%= data[0]%></h2>
            <a href="/website">Link to home-page</a>
        </center>
    </body>
</html>